///*----------------------------------*\
//  #COLORS
//\*----------------------------------*/

$accent-color: #57b8ff;
$primary-color: #4f7cac;
$text-color: #161925;
$reversed-color: #fff;
$disabled-color: #d9dada;
$neutral-color: #7b7f84;
$border-color: #aeb3b9;
$secondary-background-color: #efefef;
